body {
    background-color: rgb(221, 217, 217);
}

header {
    background-color: black;
    color:white;
    text-align: center;
}

main i {
    padding: 6px;
}

main .resultat {
    background-color: black ;
    color : white;
}

main h2 {
    text-align: center;
}

main h3 {
    text-align: center;
    padding: 10px;
    background-color: rgb(37, 36, 36);
    border-radius: 10px;
}

main ul {
    padding: 10px;
    background-color: rgb(37, 36, 36);
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
}

button {
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #cccfd1;
}

.resultat {
    margin-top: 20px;
}

#jour {
    /* display: flex; Utilisation de Flexbox pour aligner les éléments en ligne */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante si nécessaire */
    padding: 0;
    list-style-type: none; /* Enlève les puces de la liste */
    margin: 0; /* Enlève les marges par défaut */
}

#jour li {
    display: flex;
    align-items: center; /* Centre verticalement les éléments à l'intérieur */
    margin: 10px;
    padding: 10px;
    box-sizing: border-box; /* Inclut les marges et les bordures dans la largeur */
}

#jour li img {
    max-width: 50px; /* Limite la taille de l'image */
    max-height: 50px; /* Limite la hauteur de l'image */
    margin-right: 10px; /* Espace à droite de l'image */
    flex-shrink: 0; /* Empêche l'image de rétrécir */
}

#jour li div {
    display: flex;
    /* flex-direction: column; Empile les éléments verticalement dans la div */
    justify-content: center; /* Centre verticalement le contenu */
}

#jour li h4, #jour li p {
    margin: 0; /* Supprime les marges par défaut */
    font-size: 14px; /* Taille de police */
}